body {
  
    background:linear-gradient(pink, green);
    margin: 0;
    /* background-color: #e9dbe7 ; */
}
.title {
    position: absolute;
    margin: 25rem;
    margin-top: 0rem;
    margin-left: 31rem;
    color: rgb(8, 5, 5);
}

.main-game {
    margin-left: 5rem;
    margin-top: 5rem;
    width: 70rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(green, pink) ;
    border-radius: 5rem;
    

} 
/* formando a parte dos botoes e o formarto do jogo */
.genius {
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 0.5rem;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    margin-top: 4rem;
    width: 35rem;
    height: 35rem;
}

/* colocando as cores de cada uma parte do grid e 
deixar o espaçamento adequado */
.red {
    background-color:#e01111;
    border-radius: 0rem 1rem 0rem 20rem;
}
.blue {
    background-color: #0000f0;
    border-radius: 0rem 20rem 0rem 1rem;
}
.green{
    background-color: #4db90e;
    border-radius: 1rem 0rem 20rem 0rem;
}

.yellow {
    background-color: #eed519;
    border-radius: 20rem 0rem 1rem 0rem;
}


.selected {
    opacity: 0.5;
}